{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link href="{% static 'treant-js-master/Treant.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'treant-js-master/Treant.js' %}"></script>
    <script type="text/javascript" src="{% static 'treant-js-master/vendor/raphael.js' %}"></script>
</head>
<body>
    <div id="tree-simple"> </div>
</body>
<script>
    var strutucture = {{serialized_tree | safe}};

    var simple_chart_config2 = {
        chart: {
            container: "#tree-simple"
        },
        nodeStructure: strutucture
    }
    ;
    var my_chart = new Treant(simple_chart_config2);
</script>
</html>
